body {
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.red-rock {
    width: 152px;
    height: 152px;
    background: transparent url('red-rock3.png') no-repeat;
    background-size: 152px;      /* 3 иконки по 64px */
    background-position: 0 0;
}

.red-paper {
    width: 152px;
    height: 152px;
    background: transparent url('red-paper.png') no-repeat;
    background-size: 152px;      /* 3 иконки по 64px */
    background-position: 0 0;
}

.red-rock:hover, .red-paper:hover {
    background-position: 0 -152px;
}

.display {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    padding: 15px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 5px 5px 10px -5px #1500FF, 
        -5px -5px 10px -5px #FF0000;
}

h2 {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    width: 50%;
}